
body{
  background-color: white;
}

header, .alert{
  z-index: 100;
}
.titulo1 {
  text-decoration: none;
  width: 100px;

  color: #fff;

}

.description{
  height: 25px;
  overflow: hidden;
  transition: height .3s ease-in .3s;
}
.description:hover{
  height: 80px;
}
.carrito{
  min-height: 80vh;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  
}
.table__productos{
  display: flex;
}
.table__productos > img{
  width: 9rem;
  object-fit: contain;
  border-radius: 6px;
  margin-right: 20px;
}
.button {
  height: 50px;
  margin-top: 10px;
  color: #fff;
  padding: 0;
  border: none;
  background: #fbaf32;
  cursor: pointer;
}
.button a{
  color: #fff;
  text-decoration: none;
}

.text{
  color: #fff;
}
.color{
  background-color: rgba(0, 0, 0, 0.897);
}
.text-center {
  color: #fbaf32;
}

.text-center .col{
  right: 5px;
}
.text-center1 {
  text-align: center;
  color: white;
}

.table__cantidad > input{
  width: 40px;
  border: none;
  outline: 0;
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 20px;
}
.hide, .remove{
  display: none;
}


  .detalle{
    background-color: coral;
  }